body {
  font-family: "Rubik", sans-serif !important;
}
.elemet-rendered {
  text-align: center;
}
.product {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  padding: 50px 10px;
  margin: auto;
}

.product td {
  display: inline-block;
}
.editProduct {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  padding: 5px;
}
.editProduct label {
  text-align: left;
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.editProduct input,
textarea{
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}